<mat-toolbar color="primary">

    <mat-toolbar-row>

      <ng-container *ngIf="isAuthenticated()">
        <span class="nav-tool-items" (click)="toggleSidenav.emit()">
          <mat-icon class="hamburger">menu</mat-icon>
        </span>
      </ng-container>

      <span class="navigation-bar-title" (click)="toHome()">
        AULA 365
      </span>

      <span class="navigation-bar-spacer"></span>

      <ng-container *ngIf="isAuthenticated()">
        <span >
          {{nombreUsuario |uppercase}}
        </span>
        <button mat-icon-button >
          <mat-icon class="person"> person</mat-icon>
        </button>
        <button mat-icon-button >
          <mat-icon class="settings">settings </mat-icon>
        </button>
  
        <button mat-icon-button >
          <mat-icon class="help"> help</mat-icon>
        </button>


      </ng-container>
    <!-- <ng-container *ngIf="isAuthenticated()">

      <button mat-icon-button (click)="settings()">
        <mat-icon svgIcon="settings-white"> </mat-icon>
      </button>

      <button mat-icon-button (click)="help()">
        <mat-icon svgIcon="help-white"> </mat-icon>
      </button>

    </ng-container> -->
  
    </mat-toolbar-row>
  
  </mat-toolbar>
