
.material-icons.color_white { color: #FFFFFF; }

$toolbar-title-padding: 16px !default;

.navigation-bar-title {
  margin: 0 $toolbar-title-padding 0 $toolbar-title-padding;
  cursor: pointer;
}

.navigation-bar-spacer {
  flex: 1 1 auto;
}

.mat-toolbar{
  padding: 0 3% 0 0;
}

