
<mat-dialog-content  [formGroup]="formInscripciones">

    <div>
        <mat-form-field appearance="fill">
            <mat-label>Monto a pagar</mat-label>
            <input formControlName="monto" matInput>
            <mat-error *ngIf="formInscripciones.get('name')?.errors?.['required']"
            [style.font-size]="'x-smaller'"
            >Campo requerido</mat-error>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Select Alumno</mat-label>
            <mat-select formControlName="alumno">
                <mat-option *ngFor="let alumno of alumnos" [value]="alumno.id">
                  {{alumno.name}}
                </mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
          <mat-label>Select Curso</mat-label>
          <mat-select formControlName="curso">
              <mat-option *ngFor="let curso of cursos" [value]="curso.id">
                {{curso.id + "-" + curso.name}}
              </mat-option>
          </mat-select>
        </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Choose date</mat-label>
        <input formControlName="fecha" matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="alert alert-danger" *ngIf="error">
        Los campos no han sido rellanados correctamente
    </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button (click)="onSubmit()" color="primary">Guardar</button>
</mat-dialog-actions>
