  <table mat-table [dataSource]="alumnos" class="mat-elevation-z8 demo-table" >
    
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
    
      <!-- Adress Column -->
      <ng-container matColumnDef="apellido">
        <th mat-header-cell *matHeaderCellDef> Apellido</th>
        <td mat-cell *matCellDef="let element"> {{element.apellidos}} </td>
      </ng-container>
    
      <!-- Pipe Column -->
      <ng-container matColumnDef="complete">
        <th mat-header-cell *matHeaderCellDef> Pipe</th>
        <td mat-cell *matCellDef="let element"> {{element.name | join: element.apellidos }} </td>
      </ng-container>

      <!-- Age Column -->
      <ng-container matColumnDef="edad">
          <th mat-header-cell *matHeaderCellDef> Edad </th>
          <td mat-cell *matCellDef="let element"> {{element.edad}} </td>
      </ng-container>
  
      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>
  
      <ng-container matColumnDef="editar">
        <th mat-header-cell *matHeaderCellDef> Editar </th>

        <td mat-cell *matCellDef="let element" >
          <button mat-raised-button color="primary" (click)="onUpdate(element)">
              <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
              Edit
            </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="eliminar">
        <th mat-header-cell *matHeaderCellDef> Eliminar </th>

        <td mat-cell *matCellDef="let element" >
          <button mat-raised-button color="primary" (click)="onDelete(element)">
              <mat-icon aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
              Delete
            </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div class="demo-button-container">
      <button mat-raised-button (click)="refresh()" color="primary">
        refresh table
      </button>
    </div>

    <mat-card class="example-card my-5">
      <mat-list role="list">
        <div *ngFor="let alum of alumnos">
          <mat-list role="list">
            <mat-list-item role="listitem">{{alum | json}}</mat-list-item>
          </mat-list>
        </div>
      </mat-list>
    </mat-card>
