
<mat-nav-list>
    <a [routerLink]="'./alumnos'" mat-list-item>
        <mat-icon>person</mat-icon> Alumnos
    </a>
    <a [routerLink]="'./cursos'" mat-list-item>
        <mat-icon>dashboard</mat-icon> Cursos
    </a>
    <a [routerLink]="'./inscripciones'" mat-list-item>
        <mat-icon>content_paste</mat-icon> Inscripciones
    </a>
    <a [routerLink]="'./profesores'" mat-list-item>
        <mat-icon>person</mat-icon> Profesores
    </a>
    <a [routerLink]="'./usuarios'" mat-list-item>
        <mat-icon>perm_identity</mat-icon> Usuarios
    </a>
    <a (click)="logout()" mat-list-item>
        <mat-icon>logout</mat-icon> Logout
    </a>
</mat-nav-list>

  