
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
@import 'my-palette';
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// hue. Available color palettes: https://material.io/design/color/
$PFVILLA-primary: mat.define-palette($purple-palette);
$PFVILLA-accent: mat.define-palette($pink-palette);

// The warn palette is optional (defaults to red).
$PFVILLA-warn: mat.define-palette($indigo-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$PFVILLA-theme: mat.define-dark-theme((
  color: (
    primary: $PFVILLA-primary,
    accent: $PFVILLA-accent,
    warn: $PFVILLA-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($PFVILLA-theme);


